/* Палитра */
/* акцент - #2196F3 */
/* фон - #ffffff */
/* цвет первчного текста - #212121 */
/* цвет вторичного текста - #757575 */
/* цвет текста подписей  #ffffff*/
/* Цвет Studio #000000 */



:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --background-color: #fff;
    --footer-background: #2F303A;
    --studio-color: #000000;
}

/* Герой */
.hero-button {
    background-color: var(--accent-color);
    color: #fff;
}
/* Услуги */
.services{
    background-color: rgba(47, 48, 58, 0.8);
    color: #fff;
}
/* Команда */
.speciality {
    color: var(--primary-text-color);
}
/* Клиенты */
.clients-list:hover {
 background-color: var(--accent-color);
}
.clients-list:focus {
    background-color: var(--accent-color);
   }
   .clients-list:active {
    background-color: var(--accent-color);
   }

/* Страница портфолио */
/* Фильтр */
.filter {
    color: var(--title-text-color);
    background: #F5F4FA
    
}

.filter:hover {
    color: #ffffff;
    background-color: var(--accent-color);
    
}

.project-liks {
    color: var(--title-text-color);
}
.project-liks:hover {
    color: var(--accent-color);
}
.project-liks:focus {
    color: var(--accent-color);
}
.project-liks:active {
    color: var(--accent-color);
}
